# # Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "ESP32 Temperature"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "°C"
      value_template: "{{ value_json.temperature }}"
      device_class: temperature

    - name: "ESP32 Humidity"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "%"
      value_template: "{{ value_json.humidity }}"
      device_class: humidity


sensor:
  - platform: rest
    name: "ctlv3_data"
    unique_id: "ctlv3_data_all"
    resource: "http://homeassistant:8889/data"
    value_template: "OK"
    json_attributes_path: "$.ctlv3.messages"
    json_attributes:
      - Z1RoomTemp
      - Z1ActualRoomTempDesired
      - Z1DayTemp
      - Z1NightTemp
      - Z1HolidayTemp
      - Z1QuickVetoTemp
      - Hc1PumpStatus 
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 RoomTemp Raw"
    unique_id: "ctl_z1_roomtemp_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1RoomTemp', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {% if v is not none and v | string | trim != '' %}
        {{ v }}
      {% else %}
        0
      {% endif %}
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 ActualDesired Raw"
    unique_id: "ctl_z1_actualdesired_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1ActualRoomTempDesired', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 DayTemp Raw"
    unique_id: "ctl_z1_daytemp_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1DayTemp', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 NightTemp Raw"
    unique_id: "ctl_z1_nighttemp_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1NightTemp', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 HolidayTemp Raw"
    unique_id: "ctl_z1_holidaytemp_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1HolidayTemp', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30

  - platform: rest
    name: "CTL Z1 QuickVetoTemp Raw"
    unique_id: "ctl_z1_quickvetotemp_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Z1QuickVetoTemp', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30

  - platform: rest
    name: "CTL Hc1PumpStatus Raw"
    unique_id: "ctl_hc1pumpstatus_raw_001"
    resource: "http://homeassistant:8889/data"
    value_template: >
      {% set root = value_json.get('ctlv3', {}).get('messages', {}).get('Hc1PumpStatus', {}) %}
      {% set v = root.get('fields', {}).get('value', {}).get('value') %}
      {{ v if v is not none and v|string|trim != '' else 0 }}
    scan_interval: 30
  
template:
  - sensor:
      - name: "Heizungsdruck berechnet"
        unique_id: heizungsdruck_berechnet
        unit_of_measurement: "bar"
        state: >
          {% set c = states('sensor.ebusd_bai_waterpressuremeasurecounter') | float(0) %}
          {{ (0.026087 * c - 3.217) | round(2) }}

      - name: "Heizungsdruck Counter"
        unique_id: heizungsdruck_counter
        unit_of_measurement: "count"
        state: >
          {{ states('sensor.ebusd_bai_waterpressuremeasurecounter') | float(0) }}
 
      - name: "CTL Zone 1 Raumtemperatur"
        unique_id: ctl_zone_1_raumtemperatur
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_roomtemp_raw') | float(0) }}"

      - name: "CTL Solltemperatur"
        unique_id: ctl_z1actualdesired
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_actualdesired_raw') | float(0) }}"

      - name: "CTL Tagtemperatur"
        unique_id: ctl_z1daytemp
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_daytemp_raw') | float(0) }}"

      - name: "CTL Nachttemperatur"
        unique_id: ctl_z1nighttemp
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_nighttemp_raw') | float(0) }}"

      - name: "CTL Holidaytemperatur"
        unique_id: ctl_z1holidaytemp
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_holidaytemp_raw') | float(0) }}"

      - name: "CTL QuickVeto Temperatur"
        unique_id: ctl_z1_quickvetotemp
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.ctl_z1_quickvetotemp_raw') | float(0) }}"


      - name: "CTL Heizkreis 1 Pumpenstatus"
        unique_id: ctl_hc1pumpstatus
        state: >
          {% set v = states('sensor.ctl_hc1pumpstatus_raw') %}
          {{ v if v not in ['unknown', 'unavailable', 'none', ''] else 0 }}