
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "ESP32 Temperature"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "°C"
      value_template: "{{ value_json.temperature }}"
      device_class: temperature
      
    - name: "ESP32 Humidity"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "%"
      value_template: "{{ value_json.humidity }}"
      device_class: humidity
sensor:
  - platform: command_line
    name: "Heizung Vorlauf Soll"
    command: "ebusctl read Status01 | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Heizung Vorlauf Ist"
    command: "ebusctl read Status01 | cut -d';' -f2"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Warmwasser Soll"
    command: "ebusctl read Status01 | cut -d';' -f4"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Warmwasser Ist"
    command: "ebusctl read Status01 | cut -d';' -f5"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Brennerstatus"
    command: "ebusctl read Status01 | cut -d';' -f6"

  - platform: command_line
    name: "Heizmodus"
    command: "ebusctl read Status02 | cut -d';' -f1"

sensor:
  - platform: command_line
    name: "Heizkurve"
    command: "ebusctl read Status02 | cut -d';' -f2"

  - platform: command_line
    name: "Interne Außentemperatur"
    command: "ebusctl read Status02 | cut -d';' -f5"
    unit_of_measurement: "°C"


  - platform: command_line
    name: "Heizkurve Max"
    command: "ebusctl read Status02 | cut -d';' -f4"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Interne Außentemperatur"
    command: "ebusctl read Status02 | cut -d';' -f5"
    unit_of_measurement: "°C"
