# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "ESP32 Temperature"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "°C"
      value_template: "{{ value_json.temperature }}"
      device_class: temperature

    - name: "ESP32 Humidity"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "%"
      value_template: "{{ value_json.humidity }}"
      device_class: humidity

sensor:
  - platform: command_line
    name: "Heizung Vorlauf Ist"
    command: "/usr/bin/ebusctl read bai FlowTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Heizung Rücklauf Ist"
    command: "/usr/bin/ebusctl read bai ReturnTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Heizung Vorlauf Soll"
    command: "/usr/bin/ebusctl read bai FlowTempDesired | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Warmwasser Soll"
    command: "/usr/bin/ebusctl read bai HwcTempMax | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Warmwasser Ist"
    command: "/usr/bin/ebusctl read bai StorageTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Brennerstatus"
    command: "/usr/bin/ebusctl read bai Flame | cut -d';' -f1"

  - platform: command_line
    name: "Heizmodus"
    command: "/usr/bin/ebusctl read bai HcPumpMode | cut -d';' -f1"

  - platform: command_line
    name: "Raumtemperatur Regler"
    command: "/usr/bin/ebusctl read ctlv3 Z1RoomTemp | cut -d';' -f1"
    unit_of_measurement: "°C"
  
  - platform: command_line
    name: "Raumtemperatur Soll"
    command: "/usr/bin/ebusctl read ctlv3 Z1ActualRoomTempDesired | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Heizung Pumpe"
    command: "/usr/bin/ebusctl read bai StatusCirPump | cut -d';' -f1"

  - platform: command_line
    name: "Gasventil Starts"
    command: "/usr/bin/ebusctl read bai ValveStarts | cut -d';' -f1"

  - platform: command_line
    name: "Gasventil Mode"
    command: "/usr/bin/ebusctl read bai ValveMode | cut -d';' -f1"  

  - platform: command_line
    name: "Tagtemperatur Soll"
    command: "/usr/bin/ebusctl read ctlv3 Z1DayTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "Absenktemperatur Soll"
    command: "/usr/bin/ebusctl read ctlv3 Z1HolidayTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: command_line
    name: "QuickVeto Temperatur"
    command: "/usr/bin/ebusctl read ctlv3 Z1QuickVetoTemp | cut -d';' -f1"
    unit_of_measurement: "°C"

  - platform: rest
    name: "CTL Z1 RoomTemp Raw"
    resource: "http://homeassistant:8889/data?name=Z1RoomTemp"
    value_template: >
      {% if value_json.value is defined and value_json.value not in ["", null, "nan"] %}
        {{ value_json.value }}
      {% else %}
        unknown
      {% endif %}

    scan_interval: 30


    

template:
  - sensor:
      - name: "Heizungsdruck berechnet"
        unique_id: heizungsdruck_berechnet
        unit_of_measurement: "bar"
        state: >
          {% set c = states('sensor.ebusd_bai_waterpressuremeasurecounter') | float(0) %}
          {{ (0.026087 * c - 3.217) | round(2) }}
      - name: "Heizungsdruck Counter"
        unique_id: heizungsdruck_counter
        unit_of_measurement: "count"
        state: >
          {{ states('sensor.ebusd_bai_waterpressuremeasurecounter') | float(0)}}

      - name: "CTL Zone 1 Raumtemperatur"
        unique_id: ctl_zone_1_raumtemperatur
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: >
 
      - name: "CTL Zone 1 Raumtemperatur"
        unique_id: ctl_zone_1_raumtemperatur
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: >
          {% set v = states('sensor.ctl_z1_roomtemp_raw') %}
                {% if v | float(default=none) is not none %}
            {{ v | float }}
          {% else %}
            none
          {% endif %}

        


