
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "ESP32 Temperature"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "°C"
      value_template: "{{ value_json.temperature }}"
      device_class: temperature
      
    - name: "ESP32 Humidity"
      state_topic: "homeassistant/sensor/esp32_dht22/state"
      unit_of_measurement: "%"
      value_template: "{{ value_json.humidity }}"
      device_class: humidity
      
    - name: "Vorlauf"
      state_topic: "ebusd/vaillant_bai/flow_temp"
      unit_of_measurement: "°C"
      device_class: temperature

    - name: "Rücklauf"
      state_topic: "ebusd/vaillant_bai/return_temp"
      unit_of_measurement: "°C"
      device_class: temperature

    - name: "Wasserdruck"
      state_topic: "ebusd/vaillant_bai/water_pressure"
      unit_of_measurement: "bar"
      device_class: pressure

    - name: "Modulation"
      state_topic: "ebusd/vaillant_bai/modulation"
      unit_of_measurement: "%"
      device_class: power_factor

    - name: "Heizkreis Solltemperatur"
      state_topic: "ebusd/vaillant_bai/hc1_set_temp"
      unit_of_measurement: "°C"
      device_class: temperature

    - name: "Warmwasser Solltemperatur"
      state_topic: "ebusd/vaillant_bai/dhw_set_temp"
      unit_of_measurement: "°C"
      device_class: temperature

  binary_sensor:
    - name: "Brenner aktiv"
      state_topic: "ebusd/vaillant_bai/burner_on"
      payload_on: "1"
      payload_off: "0"
      device_class: heat
 